@charset "utf-8";

/* CSS Document */
body {
    font-family: 'Rubik';
    margin: 0;
}

/*Font Family Start*/
@font-face {
    font-family: 'monton-regular';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Monoton-Regular.ttf'); 
  }
/* Ref:https://google-webfonts-helper.herokuapp.com/fonts/rubik?subsets=latin*/
/* rubik-300 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v21-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-regular - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v21-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-600 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/rubik-v21-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-600.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-800 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/rubik-v21-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-800.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-900 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v21-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-900.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-300italic - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/rubik-v21-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v21-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v21-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v21-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v21-latin-300italic.svg#Rubik') format('svg'); /* Legacy iOS */
  }
/*End*/

/*Navigation Start*/
nav ul li{
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.dot {
    height: 7px;
    width: 7px;
    margin-right: 10px;
    background-color: #f7c532;
    border-radius: 50%;
    display: inline-block;
}
nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
nav
{
    background-color: white;
    box-shadow: 0px 0px 12px #e4e4e4;
    padding: 2px 30px;
}
/*End*/

/*Home Page Start*/
.container
{
    padding: 30px;
}
.heading
{
    font-size: 72px;
    font-weight: bold;
    color:#231E41
}
.secondary-text
{
    color: #6F6F87;
    font-size: 18px;
}
.line-height-2
{
    line-height: 2;
}
.btn-primary
{
    background-color: #f7c532;
    border: none;
    padding: 16px 26px;
    font-size: 16px;
    font-weight: bold;
    color: #231e41;
    cursor: pointer;
}
.btn-primary:hover{
    filter: brightness(110%);
}
.mt-5
{
    margin-top: 5px;
}
.btn-text
{
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    color: #000000;
    padding: 15px 26px;
}
.btn-text:hover
{
    border: 1px solid #f7c532;
}
.hero-section
{
    display: flex;
}
.img-circle
{
    border-radius: 50%;
    width: 80%;
    height: 70%;
    box-shadow: 0px 13px 13px #dfdfdf;
}
.left-content
{
    width: 50%;
    margin-top: 180px;
}
.right-content
{
    width: 50%;
    text-align: center;
    position: relative;
}
.icon-burger
{
    opacity: 0.07;
    position: absolute;
    height: 10%;
    width: 10%;
    top: 14%;
    right: 83%;
    /*Ref:https://codepen.io/vaishali1192/pen/QWdJZVy*/
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
.icon-cake
{
    opacity: 0.07;
    position: absolute;
    height: 8%;
    width: 8%;
    top: 25%;
    right: 11%;
    /*Ref:https://codepen.io/vaishali1192/pen/QWdJZVy*/
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

/*Ref:https://codepen.io/vaishali1192/pen/QWdJZVy*/
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .mr-10
  {
    margin-right: 10px;
  }
.our-work
{
    display: flex;
}
.img-square
{
    position: relative;
}
.object-fit-cover
{
    object-fit: cover;
    box-shadow: 0px 0px 10px #dbdbdb;
}
.secondary-heading
{
    font-size: 50px;
    font-weight: bold;
    color:#231E41
}
.number-text
{
    font-family: monton-regular;
    font-size: 50px;
    color: #f7c532;
    margin-right: 32px;
}
.locate-section
{
    display: flex;
    margin-top: 35px;
    align-items: flex-start;
}
.third-heading {
    font-size: 25px;
    font-weight: 600;
    color: #231e41;
    margin-top: 16px;
}
.w-50
{
    width: 50%;
}
.mt-10
{
    margin-top: 10px;
}
.fs-16
{
    font-size: 16px;
}
.line-height-1
{
    line-height:1.5
}
.number-text-black
{
    font-family: monton-regular;
    font-size: 50px;
    color: #231e41;
}
.square {
    bottom: -45px;
    right: 127px;
    position: absolute;
    text-align: center;
    padding: 22px;
    background: white;
    box-shadow: 0px 0px 10px #dbdbdb;
}
.download-app
{
    background-color: #F9FAFC;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 75px;
    align-items: center;
}
/*Home Page End*/

/*Menu Page Start*/
.page-header {
    background-color: #F9FAFC;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.starters-menu
{
    margin-top: 50px ;
}
.menu-items {
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto auto auto;
    column-gap: 18px;
    row-gap: 50px;
    margin-top: 25px;
}
.grid-items {
    box-shadow: 0 0 12px #94939321;
}
.price
{
    width: 60px;
    height: 60px;
    font-weight: 500;
    background-color: #F5C332;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price sub {
    font-size: 12px;
    font-weight: 400;
}
.menu-description
{
    padding: 0 25px;
}
.rating
{
    display: flex;
    justify-content: start;
    padding-left: 0;
}
.rating li {
    list-style: none;
    color: #f5c332;
}
.fs-28
{
    font-size: 28px !important;
}
.mr-5
{
  margin-right: 5px;
}
/*Menu Page End*/

/* Blog Page Starts */
.blog-main-section{
    background-color: #F9FAFC;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
    display: flex;
}
.breadcrumbs-list-blog{ 
    display: inline-flex;
    background-color: #f7c532;
    padding: 15px;
    width: 120px;
    justify-content: center;
    align-items: center;
}
.blog-secondary-heading{
    font-size: 40px;
    font-weight: bold;
    color:#231E41;
    margin-top: 50px;
    text-align: center;
}
.blog-secondary-text{
    color: #6F6F87;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.5;
    text-align: center;
}
    /* Use of Grid */
.blog-grid{
    display:grid; 
    grid-template-columns:auto; 
    max-width: 80%; 
    margin-left: 10%; 
    margin-right: 10%; 
    padding: 30px; 
    gap:20px;
}
.blog-grid img{
    width: 650px;
}
.blogitem3{
    grid-row-start: 1; 
    grid-column-start:2;
}
.blogitem7{
    grid-row-start: 3; 
    grid-column-start:2;
}
.blogitem11{
    grid-row-start: 5; 
    grid-column-start:2;
}
/* Blog Page Ends */

/* Blog Detail Page Starts */
.content-section{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}
.detailfirstimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailfirstimg img{
    width: 100%;
}
.method-desc{  
    text-align: justify;
    text-justify: inter-word;
    color: #7d7d91;
}
.detail-grid{
    display: grid;
    grid-template-columns: auto;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
.detail-grid img{
    width: 100%;
}
.dgrid12{
    grid-row-start: 1;
    grid-column-start: 2;
}
.dgrid13{
    grid-row-start: 1;
    grid-column-start: 3;
}
/* Blog Detail Page Ends  */

/*Contact Page Start*/
.main-section{
    display: flex;
    background-color: #F9FAFC;
}
.form-main-area-frame{
    display: block;
    width: 100%;
    margin-top: 120px;
    position: relative;
    background-color: #FFFFFF;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 8px -2px rgb(0 0 0 / 10%);
    margin-bottom: 100px;
}
.form-main-area{
    display: block;
    position: relative;
    border: dotted 3px #d3d4d5;
}
.form-main{
    display: block;
    padding: 30px;
}
.form-title{
    margin-bottom: 30px;
    line-height: 120%;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.form-details{
    display: block;
    margin-top: 0px;
}

.form-details-inputs input,textarea{
    height: 50px;
    background-color: #F9FAFC;
    border: none;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}
.form-text{
    font-size: 14px;
    color: gray;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.right-contact-content{
    text-align: center;
    position: relative;
}
.left-contact-content{
    width: 50%;
    margin-top: 180px;
    margin-left: 200px;
}
    /* Use of Flex-Box */
.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
    /* Use of Flex  */
.contact-sub{
    display: flex;
    margin-left: 100px;
}
    /* Use of Flex  */
.breadcrumbs-list-contact{
    display: flex;
    background-color: #f7c532;
    padding: 15px;
    width: 120px;
}
.responsive-map-container iframe,     
.responsive-map-container embed {
    width: 100%;
    height: 650px;
}
/*Contact Us Page Ends*/


/*About US page start*/
.mt-25
{
    margin-top: 25px;
}
.img-video i
{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-40%, -40%);
  color: #dbdbdb;
  font-size: 100px;
  transition: transform .3s;
}
.img-video
{
    position: relative;
}
.video-icon i:hover
{
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(0.5); 
}
.fs-40
{
    font-size: 40px;
}
.grid-items-chef
{
    background-color: #F9FAFC;
    box-shadow: 0 0 10px #e4e4e4;
}
.fw-bold
{
    font-weight: bold;
}
.chef-content
{
    padding: 10px;
    text-align: center;
}
.chef-icon
{
    color: #231E41;
    
}
.chef-icon:hover{
    color: #F5C332;
}
.faded-back:hover
{
   background-color: #F5C332;
   cursor: pointer;
}
.mt-75
{
    margin-top: 75px;
}
.delivery-app
{
    background-color: #F9FAFC;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 50px;
    margin-top: 75px;
    align-items: center;
}
/*About US page end*/

/*Breadcrumbs Start*/
.breadcrumbs-list
{
    display: flex;
    background-color: #f7c532;
    padding: 15px;
}
.breadcrumbs ul li a{
    text-decoration: none;
}
.breadcrumbs ul li{
    list-style: none;
}
.breadcrumbs ul li:first-child a{
    color: rgba(0, 0, 0, 0.389);
}
.breadcrumbs ul li:last-child a{
    color: rgb(0, 0, 0);
}
/*Breadcrumbs End*/

/*Footer start*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    background: white;
    box-shadow: 0 10px 24px #e3e3e3;
    margin-top: 25px;
}
.social-media
{
    color: #231E41;
}
.img-responsive
{
    width: 100%;
    height: auto;
}
/*End*/

@media screen and (max-width: 1200PX) {
   
}

/* Large Device View */
@media screen and (max-width: 992px) {
    .hero-section
    {
        display: block;
    }
    .left-content,.right-content
    {
        width: 100%;
        text-align: center;
    }
    .our-work
    {
        display: block;
    }
    .w-50
    {
        width: 100%;
    }
    .img-content
    {
        margin-top: 100px;
    }
    .img-square
    {
        text-align: center;
    }
    .grid-container
    {
        grid-template-columns: 32% 32% 32%;
    }
    .mb-sm-25
    {
        margin-bottom: 25px;
    }
}

/* Tablet View */
@media screen and (max-width: 768px) {
    nav ul {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
    nav ul li {
        padding: 15px 0;
    }
    .download-app,.delivery-app
    {
        display: block;
    }
    .delivery-img {
        margin-top: 25px;
    }
    .img-sm-responsive
    {
        width: 100%;
        height: auto;
    }
    .grid-container
    {
        grid-template-columns: 50% 50%;
    }
    .page-header
    {
        display: block;
    }
   
    /* Blog Page Begins  */
    .blog-grid{
        padding: 0;
        gap: 0;
        margin-left: 8%;
        margin-top: 20px;
    }
    .blogitem2{
        grid-row-start: 2; 
    }
    .blogitem3{
        grid-row-start: 3; 
        grid-column-start:1;
    }
    .blogitem7{
        grid-row-start: 5; 
        grid-column-start:1;
    }
    .blogitem8{
        grid-row-start: 6;
    }
    .blogitem11{
        grid-row-start: 7; 
        grid-column-start:1;
    }
    .blogitem12{
        grid-row-start: 8;
    }
    /* Blog Page Ends  */

    /* Blog Detail Page Begins  */
    .content-section{
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    /* Blog Detail Page Ends */

    /* Contact Us Page Begins */
    .main-section{
        display: block;
    }
    .left-contact-content{
        margin-top: 10px;
    }
    .form-main-area-frame{
        width: auto;
        margin-bottom: 0px;
    }
    .contact-row{
        flex-direction: column;
    }
    .contact-block{
        width: 100%;
        margin-left:300px;
    }
    .contact-sub{
        margin-top: 20px;
    }
    /* Contact Us Page Ends  */
}

/* Mobile View */
@media screen and (max-width: 576px) {
    .heading
    {
        font-size: 44px;
    }
    .footer
    {
        display: block;
        text-align: center;
    }
    .grid-container
    {
        grid-template-columns: 100%;
    }

}
/* End */


